body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: capitalize;

}
h1 {
    color: red;
    font-size: 3rem;
}
.botton {
    color: red;
    font-size: 2rem;
}